<% content_for :head do %>
  <title><%= @user.name %></title>
<% end %>
<% content_for :description do %>
  <meta name="description" content="ユーザー'<%= @user.name %>'のページです。'Have, 'Want'の確認とユーザーの'Follow'ができます。">
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>